.custom-color {
  background-color: #a6a2c6;
}

.custom-color-text {
  color: rgba(51, 42, 124, 255);
}

.m-show-footer {
  display: none;
}

.m-hide-footer {
  display: flex;
}

@media screen and (max-width: 768px) {
  .m-show-footer {
    display: flex;
  }

  .m-hide-footer {
    display: none;
  }

  footer .m-show-footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 17px;
  }

  footer .m-show-footer ul li {
    margin-top: 5px;
    /* font-weight: 600; */
    text-decoration: none;
  }
}

.font-weight-600 {
  font-weight: 600;
}

footer ul {
  display: flex;
  list-style: none;
  font-size: 23px;
}

footer ul li {
  margin-left: 20px;
  text-decoration: none;
}

footer ul li a {
  color: rgba(51, 42, 124, 255);
  text-decoration: none !important;
}

footer ul li a:hover {
  text-decoration: none !important;
  color: rgba(51, 42, 124, 255);
}
